.onenote {
	/*border:1px red solid;*/
	margin:20px 0 20px 0;
	font-family: KaiTi;
	font-size: 14px;
	box-shadow: 5px 5px 5px #888888;
	/*background-color: grey;*/
	border-top:1px grey solid;
	border-left:1px grey solid;
	border-radius: 5px;

}

.on-title {

    text-align: center;
    margin-top: 10px;
    font-family: Consolas;

}

.on-picture {

	/*width: 100%;*/
	border-radius: 15px;
	margin:0 auto;
	/*text-align: center;*/
}

.on-picture img{

	border-radius: 15px;
	width: 100%;
	padding: 8px;


}

.on-body {
	padding: 5px;
}

.on-body p {
	/*text-indent: 28px;*/
}

.on-from {

	text-align: right;
	padding: 5px;

}